
input {
    text-align: right;
  }
  
  table {
    width: 100%;
    margin-bottom: 1em;
  }
  
  td.footer {
    font-style: italic;
    text-align: center;
  }
  
  .table-container {
    width: 100%;
  }

  .btn-add{
    width: auto !important;
    background-color: #3f51b5;
    height: 36px;
    color: rgb(255, 255, 255) !important;
   font-family: 'Tajawal', sans-serif !important;
    font-size: 20px !important;
    padding-top: 1px !important;
    margin-top: 10px;

  }
  
  .btn-add .material-icons{
    position: relative;
    top: -2px;
    margin: 2px;
  }
  